.footer-container {
    background-color: #000000;
    color: #fff;
    padding: 50px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
  }
  
  .footer-info-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .footer-icon {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .footer-info-item h4 {
    font-size: 18px;
  }
  
  .footer-copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-copyright p {
    font-size: 18px;
  }
  
