.header-container {
    background-color: #000000;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  img {
    width: 30%;
    margin-right: 10px;
  }

  .header-social-media {
    display: flex;
    align-items: center;
  }
  
  .header-social-media a {
    margin-right: 20px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .header-social-media a:hover {
    color: #4CAF50;
  }