.nav-container {
    background-color: #4CAF50;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 18px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .nav-item a:hover {
    background-color: #ecf407;
    color: black;
  }
  